

  * {
    scrollbar-color: #1152ae rgb(228, 226, 226);
  }
  ::-webkit-scrollbar {
    scrollbar-color: #1152ae rgb(228, 226, 226);

  }

  *:hover {
    scrollbar-color: #1152ae  rgb(228, 226, 226);

  }
 

  ::-webkit-scrollbar-thumb:hover {
    background: #1152ae;
  }
  